body {margin:0 auto;overflow:hidden;} 

.header{
	margin:0 auto;
	width:100%;
	height:auto;
	background-color:rgb(0, 0, 0);
	position:relative;
  }
.header canvas {
  width:100%;height:auto;
  display:inline-block;vertical-align:baseline
  position:relative;
  z-index:-1;
  }

.header .canvaszz{  /*将星空设为背景图片，调整不透明度使显现宇宙特效*/
  width:100%;
  background-image: url(images/sky.jpg);
  height:890px;
  position:absolute;
  z-index:10;
    filter:alpha(opacity=30);  
        -moz-opacity:0.3;  
        -khtml-opacity: 0.3;  
        opacity: 0.3;
  }

  
  .header .top_logo{
    background-image: url(logo/logo.png);
    margin:0 auto;
    width:995px;
    height:180px;
    position:absolute;
    z-index:30;
    top:37.2%;
    left: 40%;
    margin-left: -390px;
    }	


      .header .nav{
        width:804px;
        height:auto;
        position:absolute;
        z-index:30;
        top:420px;
        left: 70%;
        margin-left: -400px;
        }


@font-face {   /*字体声明*/
  /* font-properties */
  font-family: TekoBold;
  src:url(fonts/Teko/TekoBold.ttf),
  url(fonts/Teko/TekoBold.eot),
  url(fonts/Teko/TekoBold.svg); /* IE9 */
  }


