@import "fadein.css";/*淡入*/


body {
    margin:0 auto;
    overflow:hidden;
    
} 

.header{
	margin:0 auto;
	width:100%;
    height:890px;
	background-color:rgb(0, 0, 0);
	position:relative;
  }

.header	.topcn{
    z-index:860;
    font-size:80px;
    font-family: fantasy;
    color:rgb(150, 8, 8);
    text-align:center;
    width: auto;
    top:60px;
    left:36%;
    margin-left: -445px;
    position:absolute;

  }

  .header .tip
{
  position:absolute;
  position:fixed !important;
  z-index:99;
  top:0px;
  left: -5%;
  width:100%;
  text-align:center;
}
.header .tip .tipcontent
{
    border:1px solid #FFF;
    font-size:30px;
    color: rgb(255, 255, 255);
    padding:5px;
    cursor:pointer;
    border-radius:5px;
}
.header .showimg
{
    position:absolute;
    position:fixed !important;
    z-index:99;
    bottom:0px;
    width:100%;
    text-align: right;
    opacity: 0;
}
.header .showimg1
{
    position:absolute;
    position:fixed !important;
    z-index:97;
    bottom:0px;
    width:100%;
    text-align: right;
    opacity: 0;

}


.header canvas {
  width:100%;
    height:890px;
  display:inline-block;

  }

.header .canvaszz{  /*将星空设为背景图片，调整不透明度使显现宇宙特效*/
  width:100%;
  background-image: url(images/sky.jpg);
  height:890px;
  position:absolute;
  z-index:10;
    filter:alpha(opacity=30);  
        -moz-opacity:0.3;  
        -khtml-opacity: 0.3;  
        opacity: 0.3;
  }

  
  
  
  h1{
      font-weight: 400;
      letter-spacing: 0.1em;
      text-shadow: 0 0 25px rgba(254,254,255,0.85);
      
  }
  
  
  [class^="letter"] {
      -webkit-transition: opacity 3s ease;
      -moz-transition: opacity 3s ease;
      transition: opacity 3s ease;
  }
  
  .letter-0 {
      transition-delay: 0.2s;
  }
  
  .letter-1 {
      transition-delay: 0.4s;
  }
  
  .letter-2 {
      transition-delay: 0.6s;
  }
  
  .letter-3 {
      transition-delay: 0.8s;
  }
  
  .letter-4 {
      transition-delay: 1.0s;
  }
  
  .letter-5 {
      transition-delay: 1.2s;
  }
  
  .letter-6 {
      transition-delay: 1.4s;
  }
  
  .letter-7 {
      transition-delay: 1.6s;
  }
  
  .letter-8 {
      transition-delay: 1.8s;
  }
  
  .letter-9 {
      transition-delay: 2.0s;
  }
  
  .letter-10 {
      transition-delay: 2.2s;
  }
  
  .letter-11 {
      transition-delay: 2.4s;
  }
  
  .letter-12 {
      transition-delay: 2.6s;
  }
  
  .letter-13 {
      transition-delay: 2.8s;
  }
  
  .letter-14 {
      transition-delay: 3.0s;
  }

  h1{
      visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  
      h1.transition-in{
          visibility: visible;
      }
  
      h1 [class^="letter"]{
          opacity: 0;
      }
  
      h1.transition-in [class^="letter"]{
          opacity: 1;
      }









